    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/ashley-callahan.jpg" alt="Mrs. Ashley Callahan"><figcaption><span>Mrs. Ashley Callahan</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</figcaption>
                    </figure>
                    <div class="details">
                        <p>Ashley is a Research Officer working at the Bio21 Institute, The University of Melbourne for the past six years.  Her laboratory is investigating the naturally occurring bacterium, Wolbachia that has been artificially introduced into <i>A. aegypti</i> to decrease the ability of this mosquito to transmit dengue viruses between people. Ashley is originally from Canada where she completed her Master of Science (Environmental Science) and Bachelor of Science (Biology) degrees at Memorial University, Canada.</p>
                    </div>
                </li>
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/nancy-endersby-harshman.jpg" alt="Dr. Nancy Endersby-Harshman"><figcaption><span><a class="new-tab-warning" href="https://pursuit.unimelb.edu.au/individuals/dr-nancy-endersby-harshman" target="_blank">Dr. Nancy Endersby-Harshman</a></span> Research Fellow and Laboratory Manager, The University of Melbourne School of BioSciences, Faculty of Science, University of Melbourne; Hoffmann Laboratory, Bio21 Molecular Science and Biotechnology Institute</figcaption>
                    </figure>
                    <div class="details">
                        <p>Nancy is a Research Fellow in the Pest and Environmental Adaptation Research Group in the Hoffmann Laboratory, Bio21 Institute, School of BioSciences at the University of Melbourne. Nancy conducts research on the dengue vector mosquito, Aedes aegypti, in the fields of insecticide resistance, population genetics, Wolbachia/ vector ecology. Nancy manages the group’s Molecular Laboratory and the Arboviral Research Laboratory, a Biosecurity Approved Arrangement with the Department of Agriculture and Water Resources. Nancy has a background in horticultural entomology and a PhD from Monash University on the genetic structure of Australian populations of the horticultural pest, the diamondback moth, <i>Plutella xylostella</i>.</p>
                    </div>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
            </ul>
            <p>Special thanks to <b>Ian Bentley</b> and <b>Mary Vamvakas</b></p>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>